# Ignore all tags files.
tags

# Ignore Vim tags file.
/doc/tags

# Ignore the Vagrant's guest machine directory.
.vagrant

# Ignore files created by `make`.
*.res
test.log
messages

# Ignore a .vimrc file created by test script.
.vimrc
